<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2>List Contact</h2>

            <a href="/contact/add" class="btn btn-info btn-sm mb-3"><i class="las la-plus-circle"></i> Add Contact</a>

            <% if (msg.length !==0) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <%= msg %>
                </div>
                <% } %>

                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (contacts.length===0 ) { %>
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-danger" role="alert">
                                            No data found
                                        </div>
                                    </td>
                                </tr>

                                <% } %>
                                    <% contacts.forEach((contact,index)=> { %>
                                        <% index++ %>
                                            <tr>
                                                <th scope="row">
                                                    <%= index %>
                                                </th>
                                                <td>
                                                    <%= contact.name %>
                                                </td>
                                                <td>
                                                    <%= contact.phoneNumber %>
                                                </td>
                                                <td>
                                                    <a href="/contact/<%= contact.name %>"
                                                        class="btn badge badge-pill badge-info">
                                                        <i class="las la-info-circle"></i> Detail</a>
                                                </td>
                                            </tr>
                                            <% }) %>
                        </tbody>
                    </table>
        </div>
    </div>
</div>